#
# Please include vendor dependencies and generated code here
# More https://github.com/github/linguist#overrides
#
webapp/assets/bundles/* linguist-generated=true

# This still did not work!
webapp/visualapp/static/js/* linguist-vendored

#
webapp/visualapp/static/js/*.js linguist-vendored

# Just JavaScript data, TODO should put under different folder e.g. geodata
webapp/assets/js/realworld.10000.js linguist-vendored
webapp/assets/js/us-states.js linguist-vendored
webapp/assets/js/melbourneGeo.js linguist-vendored