#
# Please include vendor dependencies and generated code here
# More https://github.com/github/linguist#overrides
#
webapp/assets/bundles/* linguist-generated=true
webapp/visualapp/static/js/* linguist-vendored