body{
	background: url(../images/background-image.jpg) ;
}


#header {	
	position: relative;
	padding: 0 !important;
}

#header.header-wrapper {
	background: url(../images/header-bg.jpg) no-repeat center center;
	background-size: cover;
	display: table;
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow-x: hidden; 
}

@media screen and (max-width: 867px) and (orientation: landscape) {
    #header.header-wrapper {
		height: auto;
		min-height: 100vh;
		padding: 0px; 
	} 
}

#header.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
}

#header .top {
	position:fixed;
	top:0;
	width: 100%;
	padding: 30px;
	height: auto;
	z-index: 500;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;	
	transition: all .5s;		
}

#header .top.solid {
    background: #475B6F;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header .top h1{
	margin-bottom: 0;
}
#header .top.solid .toggleDrawer i {
    padding-top: 8px;
}

#header .logo, #header .toggleDrawer{
	font-family: 'Alegreya SC';
	color: white;
}

#header .slogan{
	font-size: 4em;
	margin-bottom: 15px;
	line-height: 1em;
	font-family: 'Nixie One';
	color: white;
}

#header .secondary-slogan{
	font-size: 1.6em;
	color: rgba(255,255,255,.5);
	line-height: 1em;
	font-family: 'Alegreya SC';
}

#header .bottom {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#header .bottom a img {
    width: 50px;
}
#header .bottom a {
    opacity: 0.7;
}
#header .bottom a:hover {
    opacity: 1;
}



/*////////////////////////////////////////////////////////////////////////
// Parallax
///////////////////////////////////////////////////////////////////////*/
.content-block{
	background:transparent no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding: 60px 0;
}
.parallax{
	padding: 0px 0;
}

.block-body {
	margin-top: 60px;
}

#services {
	background-image: url(../images/traffic.jpg);
	color: white;
}
#parallax {
	background-image: url(../images/kuang.png) ;
	background-size: cover;
	display: table;
	height: 20px;
	width: 20px;
	position: relative;
	z-index: 1;
	overflow-x: hidden; 
}

#parallax h1{
	margin-bottom: 60px;
	color: white;
}

@media (min-width: 1200px){
	.container {
    	width: 400px;
    	height: 100px;
    	font-size: 20px;
    	text-align: left;
	}
}

.h2, h2 {
    font-size: 4px;

}


#footer{ 
	background: #2B3E51; 
	color: white;
	height: 5px;
	padding-left: 900px;
}

