{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>GOAL</title>
		<link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
		<link href="{% static 'css/tab.css' %}" rel="stylesheet">
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/chartist.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
		  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
		  crossorigin=""/>
		<script src="{% static 'js/highcharts.js' %}"></script>
		<script src="{% static 'js/highcharts-more.js' %}"></script>
		<script src="{% static 'js/exporting.js' %}"></script>
	  <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script> -->


	</head>
	<body>
		{% block content %}{% endblock %}
		{% render_bundle 'main' %}
	</body>
</html>
