{% extends "./base.html" %}

{% block content %}
	<!-- side bar inspired from -->
	<!-- https://github.com/BlackrockDigital/startbootstrap-simple-sidebar -->

<div id="wrapper" class="toggled">
	<!-- Sidebar -->
	<div id="sidebar-wrapper"> </div>

	<div id="tabs">
		<!-- <div class="tab-button">
		  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
		  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
		  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
		</div>

		<div id="London" class="tabcontent">
		  <h3>London</h3>
		  <p>London is the capital city of England.</p>
		</div>

		<div id="Paris" class="tabcontent">
		  <h3>Paris</h3>
		  <p>Paris is the capital of France.</p>
		</div>

		<div id="Tokyo" class="tabcontent">
		  <h3>Tokyo</h3>
		  <p>Tokyo is the capital of Japan.</p>
		</div> -->
	</div>
	<!-- <script>
	function openCity(evt, cityName) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }
	    document.getElementById(cityName).style.display = "block";
	    evt.currentTarget.className += " active";
	}

	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
	</script> -->

	<div id="page-content-wrapper">
		<h1> GOAL Project </h1>
	    <p>Our Goal is to get H1 with our GOAL project :] </p>
	    <h1> Team Members </h1>
	    <div class="row">
	        <div class="col-md-8">
	            <table class="table table-bordered">

	                {% for one_team_mate_name, one_team_mate_email in team_mates.items %}
	                    <tr>
	                        <td>{{ one_team_mate_name }}</td>
	                        <td>{{ one_team_mate_email}}</td>
	                    </tr>
	                {% endfor %}
	            </table>
	        </div>
	    </div>
	    <div id="container"></div>
		<div id="twitter"></div>
		<div id="map-outer" style="height:300px;width:300px;position:relative"> </div>
		<div id="charts"></div>
		<div class="ct-chart ct-golden-section" id="chart1"></div>
		<div class="ct-chart ct-golden-section" id="chart2"></div>
		<div class="ct-chart ct-golden-section" id="chart3"></div>
	</div>
</div>
{% endblock %}
