{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GOAL</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/chartist.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
  crossorigin=""/>


</head>
<body>

    <h1> GOAL Project </h1>
    <p>Our Goal is to get H1 with our GOAL project :] </p>
    <h1> Team Members </h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">

                {% for one_team_mate_name, one_team_mate_email in team_mates.items %}
                    <tr>
                        <td>{{ one_team_mate_name }}</td>
                        <td>{{ one_team_mate_email}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="container"></div>
	<div id="twitter"></div>
	<!-- <div id="map-outer" style="height:500px;width:500px;position:relative"> </div> -->
	<div id="charts"></div>
	<div class="ct-chart ct-golden-section" id="chart1"></div>
	<div class="ct-chart ct-golden-section" id="chart2"></div>
	<div class="ct-chart ct-golden-section" id="chart3"></div>
    {% render_bundle 'main' %}
</body>
</html>
