[Unit]
Description=CouchDB Service
After=network.target

[Service]
Type=simple
User=couchdb
Group=couchdb

ExecStart=/mnt/couchdb/bin/couchdb -o /dev/stdout -e /dev/stderr
Restart=always

[Install]
WantedBy=multi-user.target