global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

	maxconn 512
	spread-checks 5

defaults
	log	global
	mode	http
	monitor-uri /_haproxy_health_check
	option  log-health-checks
	option	httplog
	option	dontlognull
	option  forwardfor
	option  redispatch
	option  http-server-close
	balance roundrobin
	retries 4
    timeout connect 500
    timeout client  150000
    timeout server  3600000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

	stats enable
	stats scope .
	stats uri /_stats

frontend http-in
	bind *:5000
	default_backend couchdbs

backend couchdbs
	option httpchk GET /_up
	http-check disable-on-404
	server couchdb1 115.146.94.41:9584 check inter 5s
	server couchdb2 115.146.94.45:9584 check inter 5s
	server couchdb3 115.146.94.64:9584 check inter 5s
	server couchdb4 115.146.94.254:9584 check inter 5s
